@{
    ViewBag.Title = "Upload the file and display the uploaded image";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        Select Image
        <input type="file" name="file" />
        <input type="submit" value="ShowImage" name="Command" /><br />
        <img src="@ViewBag.ImagPath" style="width:200px; height:200px;" />
    </div>
    <div>
    </div>
}
